@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'United Kingdom';
    src: url('/fonts/United_Kingdom.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
  }
}



